{
  "presets": [["@babel/preset-env", { "loose": true }], ["@babel/preset-typescript", { "onlyRemoveTypeImports": true }], "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-transform-typescript-metadata",
    "@babel/plugin-proposal-object-rest-spread",
    // ["transform-decorators-legacy", { "decoratorsBeforeExport": true }],
    // ["@babel/plugin-proposal-decorators", { "version": "2021-12", "decoratorsBeforeExport": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "babel-plugin-parameter-decorator"
  ]
}
