.ant-input {
  padding: 3px !important;
}

.field {
  position: relative;

  &.readonly {
    cursor: not-allowed;
  }

  .ant-form-item-label {
    label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.field-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 2px;
}

// .ant-input-affix-wrapper {
//   border-radius: 10px !important;
// }